services:
  database:
    container_name: retail_workflow-database
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: on-failure
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5

  cache:
    container_name: retail_workflow-cache
    image: redis:latest
    ports:
      - "6379:6379"
    restart: on-failure
    volumes:
      - ./docker/cache.conf:/etc/redis/redis.conf
    command: ["redis-server", "/etc/redis/redis.conf"]

  log:
    container_name: retail_workflow-log
    image: redis:latest
    ports:
      - "6380:6379"
    restart: on-failure
    volumes:
      - ./docker/log.conf:/etc/redis/redis.conf
    command: ["redis-server", "/etc/redis/redis.conf"]
